/* App.css */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #27DDF5
}

#root {
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.left-panel {
  flex: 2;
  display: flex;
  justify-content: flex-start;
}

.right-panel {
  flex: 1;
  overflow-y: auto;
  max-height: 90vh;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.start-button, .reset-button {
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

.start-button {
  background-color: #ffeb3b; /* أصفر */
}

.reset-button {
  background-color: #2196f3; /* أزرق */
  color: white;
}

.timer {
  font-size: 24px;
  margin-bottom: 10px;
}

.country-input {
  padding: 8px;
  width: 50%;
  font-size: 16px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* إطار للخريطة */
.map-container {
  padding: 10px;
  border: 3px solid #fff;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;

  /* تحريك الخريطة قليلًا لليسار */
  margin-left: -20px;
}

.map {
  width: 100%;
  height: auto;
  max-width: 800px;
}

.attempts h3 {
  margin: 5px 0;
}

.continent-panel {
  margin-bottom: 20px;
}

.continent-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9); /* خلفية شفافة للتابلو */
}

.country-cell {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border: 1px solid #ccc;
  font-size: 12px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.country-cell.found {
  background-color: #2ecc71;
  color: white;
  font-weight: bold;
}
